.tabs {
  display: flex;
  margin-bottom: 45px;
  .tab{
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #252F2C;
    &:nth-child(2n+2){
      margin: 0 31px;
    }
  }
  .active {
    box-shadow: 0 2px 0 #56C6AD;
    padding-bottom: 2px;
  }
}

